@import "../lobium.scss";

ul.laqei2t1{
	list-style: square inside;
}
ul li.laqei2t1{
	padding-bottom: 7px;
}
ul.laqei2t1 ul{
	list-style: circle inside;
	margin: -3px 0px 15px 30px;
}
ul.laqei2t1 ul li{
	padding-bottom: 4px;
}